<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>문제 이름</th>
            <th>태그</th>
            <th>채점</th>
            <th>정답자 수</th>
            <th>정답률</th>
        </tr>
    </thead>
    <tbody>
        <%- list %>
    </tbody>
</table>