extends ../../page

block content
    include ../../mixin
    table.table.table-striped.table-hover
        thead
            tr
                th #
                th 문제 이름
                th 태그
                th 사용 가능한 언어
        tbody
            each q in q_list
                tr
                    td= q._id
                    td
                        a(href=`/question/${q._id}`) #{q.title}
                    td
                        +tags(q.tags)
                    td 
                        each lan in q.languages
                            =lan + ' '
    -if (user !== undefined)
        .text-right
            a.btn.btn-outline-primary(href='/question/create') 문제 추가