extends ../page

block content
    include ../mixin
    table.table.table-striped.table-hover
        thead
            tr
                th #
                th 문제 이름
                th 태그
                th 채점
        tbody
            -for (q in q_list) 
                -q = q_list[q]
                tr 
                    td #{q._id}
                    td
                        a(href=`/question/${q._id}`) #{q.title}
                    td
                        +tags(q.tags)
                    td 
                        +tags([q.submit])
    -if (user !== undefined)
        .text-right
            a.btn.btn-outline-primary(href='/question/create') 문제 추가